<ion-grid no-padding="">
    <ion-row>
        <ion-col no-padding>
            <ion-toolbar color="primary">
                <ion-buttons>
                    <ion-button slot="start">
                        <ion-icon name="arrow-round-back" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title>Subjects</ion-title>
            </ion-toolbar>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 64px;">
        <ion-col size="6" *ngFor="let i of subjects">
            <ion-card class="subject" color="secondary">
                <ion-card-content>
                    <img src="/assets/images/logo.text.svg" alt="subject">
                </ion-card-content>
                <h2 style="text-align: center">{{i}}</h2>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>