<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <ion-title>Subjects</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-infinite-scroll>
        <ion-infinite-scroll-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="6" *ngFor="let subject of subjects" no-padding>
                        <ion-card tappable class="subject" color="secondary" (click)="goToQuizPage(subject.id)">
                            <ion-card-content>
                                <img [src]="subject.photo_path" alt="subject">
                            </ion-card-content>
                            <h6 style="text-align: center">{{subject.title}}</h6>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>