<ion-grid>
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <img class="logo" src="assets/images/logo.text.svg">
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col col-10>
            <ion-button routerLink="/subjects/8" expand="full" size="large" shape="round" fill="outline">7 - 8</ion-button>
            <ion-button routerLink="/subjects/10" expand="full" size="large" shape="round" fill="outline">9 - 10</ion-button>
            <ion-button (click)="openDialog('12')" expand="full" size="large" shape="round" fill="outline">11 - 12</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>