<ion-grid>
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <img class="logo" src="assets/images/logo.text.svg">
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col col-10>
            <ion-button class="grade-button" ion-button	routerLink="/subjects/8"	expand="full" size="large" shape="round" [color]="'#1b1b1b'">7 - 8</ion-button>
            <ion-button class="grade-button" ion-button	routerLink="/subjects/10"	expand="full" size="large" shape="round" [color]="'#1b1b1b'">9 - 10</ion-button>
            <ion-button class="grade-button" ion-button	routerLink="/subjects/12"	expand="full" size="large" shape="round" [color]="'#1b1b1b'">11 - 12</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>